<html>
<head>

<title>Facebook</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" text="text/css" href="../resources/css/nav.css">
<link rel="stylesheet" text="text/css" href="../resources/css/search.css">
<link rel="stylesheet" text="text/css" href="../resources/css/icon.css">
<link rel="stylesheet" text="text/css" href="../resources/css/div.css">
<link rel="stylesheet" text="text/css" href="../resources/css/nav2.css">
<link rel="stylesheet" text="text/css" href="../resources/css/nevig.css">

</head>
<body>

<div class="nav1">
  <a><img src="../resources/images/logo/fb.png" width="25px" height="20px"></a>
  <form>
        <input type="text" placeholder="Search..." required>
        <input type="button" value="Search">
</form> 
</div>

<div class="navbar">
  
  <a><img src="../resources/images/1.jpg" width="25px" height="20px" style="border-radius:50%"></a>
  <a href="profile.html"><b>Mukesh</b> </a>
  <a href="../index.html"><b>Home &nbsp;</b></a>
  <a><img src="../resources/images/logo/request.png" width="25px" height="20px"></a>
  <a><img src="../resources/images/logo/messenger.png" width="20px" height="20px"></a>
  <a><img src="../resources/images/logo/notification.png" width="20px" height="20px"></a>
  <a> | </a>
  <a><img src="../resources/images/logo/help.png" width="20px" height="20px"></a>

  <div class="dropdown">
    <button class="dropbtn"><img src="../resources/images/logo/drop.png" width="20px" height="20px">
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
	    <a href="views/home/home.html">Create Page</a>
		<hr>
	    <a href="views/home/home.html">Create Group</a>
	    <a href="views/home/home.html">New Groups</a>
		<hr>
		<a href="views/home/home.html">Create Ads</a>
		<a href="views/home/home.html">Advertising on Facebook</a>
		<hr>
		<a href="views/home/home.html">Activity Log</a>
		<a href="views/home/home.html">News Feed Preferences</a>
		<a href="views/home/home.html">Settings</a>
		<a href="views/home/home.html">Log Out</a>
	</div>
  </div>
</div>

<div style = "background-color: #E9EBEE; height:1000px; width:75%; float:left;" >
<a><img src="../resources/images/2.jpg" width="100%" height="320px"></a>
<ul>
  <li><a class="active" href="#home"><b>Timelines</b></a></li>
  <li><a href="#news"><b>About</b></a></li>
  <li><a href="#contact"><b>Friends</b></a></li>
  <li><a href="#about"><b>Photos</b></a></li>
  <li><a href="#about"><b>More</b></a></li>
  <li></li>
</ul>

<div style = "background-color: #E9EBEE; height:100%; width:40%; float:left;">

<p><div class="main" style="height:40px; float:center;"></p>
</div>
<p><div class="main" style="height:400px; float:center;"></p>
</div>
</div>

<div style = "background-color: #E9EBEE; height:100%; width:60%; float:left;">

<p><div class="main" style="height:200px; float:center;"></p>
<div class="nav2">
  <a class="active" href="#home">
  <img src="../resources/images/logo/edit.png" width="15px" height="15px"></a>
  <a><b>Compose Post</b></a>
  <a> | </a>
  
  <a href="#news">
  <img src="../resources/images/logo/photo.png" width="15px" height="15px"></a>
  <a><b>Photo/Video Album</b></a>
  <a> | </a>
  
  <a href="#contact">
  <img src="../resources/images/logo/photo.png" width="15px" height="15px"></a>
  <a><b>Live Video</b></a>
</div>
</div>

<p><div class="main" style="height:400px; float:center;"></p>
</div>
</div>
</div>

<br/>
<div style = "background-color: #E9EBEE; height:1000px; width:10%; float:left;">
</div>

<div style = "background-color: #E9EBEE; height:1000px; width:15%; float:left;" >
</div>



</body>
</html>
